[Desktop Entry]
Version=1.0
Type=Application
Name=Upgrade
Name[es]=Actualizar
Comment=Se actualiza el sistema y se cierra la terminal.
Comment[es]=The system is updated and the terminal is closed.
Categories=System;Settings
Exec=/usr/bin/pkexec_upgrade-system
Icon=upgrade
Path=
Terminal=false
StartupNotify=false
