[Desktop Entry]
Version=1.0
Type=Application
Name=Upgrade and Reboot
Name[es]=Actualizar y Reiniciar
Comment=The system is updated and the PC is restarted.
Comment[es]=Se actualiza el sistema y se reinicia la PC.
Categories=System;Settings;upgrade;power;
Exec=/usr/bin/pkexec_upgrade-system-reboot
Icon=reboot
Path=
Terminal=false
StartupNotify=false
